<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Alumnos</title>
</head>
<body>
<h1 style="text-align: center; margin-top: 5%;">Listado de alumnos<i class='bx bxs-face'></i></h1>

<div class="container">
    <a href="/crear" class="btn btn -outline-primary mt-8"><i class='bx bxs-plus-circle bx-md'></i><h4>Crear alumno</h4></a> <br>
    <table class="table table-bordered table-striped text-center mt-4">
        <thead>
            <tr class="big-primary">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((alumno)=> { %>
            <tr>
                <td><%= alumno.id %></td>
                <td><%= alumno.nombre_alumno %></td>
                <td><%= alumno.apellido_alumno %></td>
                <td><%= alumno.correo_alumno %></td>
                <td><%= alumno.telefono %></td>
                <td>
                    <a href="/editar/<%= alumno.id %>" class="btn btn-outline-info">editar</a>
                    <a href="/eliminar/<%= alumno.id %>" class="btn btn-outline-info">borrar</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<a href="/index_carreras" ><button type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto">Carreras</button></a>


</body>
</html>